In [2]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\shaik\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in c:\users\shaik\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shaik\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shaik\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shaik\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shaik\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Shaik\\OneDrive\\Documents\\Downloads\\sales.csv")
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,03-02-2023,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,21-04-2023,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,21-09-2023,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,24-08-2023,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,24-03-2023,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [16]:
print(df.isnull().sum())

Product_ID              0
Sale_Date               0
Sales_Rep               0
Region                  0
Sales_Amount            0
Quantity_Sold           0
Product_Category        0
Unit_Cost               0
Unit_Price              0
Customer_Type           0
Discount                0
Payment_Method          0
Sales_Channel           0
Region_and_Sales_Rep    0
dtype: int64

In [18]:
df.dropna(inplace=True)

In [26]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [28]:
df.fillna("Unknown", inplace=True)

In [49]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Example dataframe
data = {'Product_ID': [1, 2, 3],
        'Sale_Date': ['03-02-2023', '04-02-2023', '05-02-2023']}
df = pd.DataFrame(data)

# Convert 'Sale_Date' to datetime
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'], format='%d-%m-%Y')

# Convert 'Sale_Date' to numerical format (e.g., days since a reference date)
df['Sale_Date'] = (df['Sale_Date'] - df['Sale_Date'].min()).dt.days

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Apply the scaler only to the numeric columns (Product_ID and Sale_Date)
df[['Product_ID', 'Sale_Date']] = scaler.fit_transform(df[['Product_ID', 'Sale_Date']])

print(df)

   Product_ID  Sale_Date
0         0.0        0.0
1         0.5        0.5
2         1.0        1.0

In [51]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Example dataframe
data = {'Product_ID': [1, 2, 3],
        'Sale_Date': ['03-02-2023', '04-02-2023', '05-02-2023']}
df = pd.DataFrame(data)

# Convert 'Sale_Date' to datetime
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'], format='%d-%m-%Y')

# Convert 'Sale_Date' to numerical format (e.g., days since a reference date)
df['Sale_Date'] = (df['Sale_Date'] - df['Sale_Date'].min()).dt.days

# Initialize the MinMaxScaler
scaler = StandardScaler()

# Apply the scaler only to the numeric columns (Product_ID and Sale_Date)
df[['Product_ID', 'Sale_Date']] = scaler.fit_transform(df[['Product_ID', 'Sale_Date']])

print(df)

   Product_ID  Sale_Date
0   -1.224745  -1.224745
1    0.000000   0.000000
2    1.224745   1.224745

In [53]:
df.to_csv("cleaned_data.csv",index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!

In [78]:
df.drop_duplicates(inplace=True)